@{
  Layout = "_Layout";

}



<body>
  <div class="container-fluid">
    <h1> List of @Model["cuisine"].GetName() restaurants</h1>

    @if (@Model["restaurants"].Count == 0)
    {
      <h3>No restaurants have been added yet!</h3>
    }
    <table>
      <tr>
        <th>Id</th>
        <th>Restaurant</th>
      </tr>
      @foreach (var restaurant in @Model["restaurants"])
      {
        <tr>
        <td>@restaurant.GetId()</td>
        <td><a href="/restaurant/@restaurant.GetRestaurantName()/@restaurant.GetId()/review">@restaurant.GetRestaurantName()</a> | <a href="/restaurants/@restaurant.GetId()/edit">Edit</a> | <a href="/restaurants/@restaurant.GetId()/delete">Delete</a>
        </td>
        </tr>
      }
    </table>
    <br>
    <a href="/@Model["cuisine"].GetName()/@Model["cuisine"].GetId()/restaurant/add">Add Restaurant</a><br>
    <a href="/">Homepage</a>
  </div>

</body>
